/* This query hides the data viz if the window size width drops below 1150px and shows a message to the user. */
.small_screen_show {
  display: none;
}

.small_screen_show_title {
  display: none;
}

.small_screen_adapt {
  display: contents;
}

@media screen and (max-width: 740px) {
  .small_screen_adapt {
    display: none !important;
  }

  .small_screen_show {
    display: block !important;
    font-size: 1rem;
    text-align: justify;
    margin: 25px;
  }

  .small_screen_show_title {
    display: block !important;
    font-size: 1.6rem;
    color: #003366;
    font-weight: bold;
    margin: 25px;
  }
}

/* global style */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Myriad W01 Regular", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-size: 1rem;
}

body {
  -webkit-text-size-adjust: none;
}

header {
  position: sticky;
  top: 0px;
  padding-top: 20px;
  box-shadow: 0px 1px 5px #dbdbdb;
  background: #fff;
  z-index: 100;
}

.place_holder {
  background: #b8dbff;
}

/* navigation */
nav {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  background-color: #fff;
  min-height: 5vh;
  box-shadow: 0 4px 2px -2px dbdbdb;
  margin: auto;
  width: 100%;
  /* width: calc(100% - 50px); */
  z-index: 100;
}

.top_nav_title {
  display: flex;
  color: #003366;
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.nav-links li {
  list-style: none;
  text-align: center;
}

.nav-links a {
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #327c9c;
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
}

.menu_line {
  display: none;
}

.menu_line div {
  width: 25px;
  height: 3px;
  background-color: #0066b2;
  margin: 5px;
}

.bubble {
  position: absolute;
  z-index: -2;
  background: #0066b2;
  transform: scale(1.1);
}

#ltla_restrictions_map {
  height: 50vh;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
  /* background: red; */
}

#ltla_primary_schools_map {
  height: 50vh;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#msoa_map_vaccine {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#msoa_map_vaccine_ages_currently_eligible {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#msoa_map_place {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#rate_map_1 {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#rate_map_2 {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#map_vaccine_sites {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
}

#msoa_map_vaccine_deprivation {
  height: 600px;
  width: calc(100% - 50px);
  margin: auto;
  z-index: 1;
  /* background: red; */
}

table {
  border-collapse: collapse;
  width: auto;
  /* margin: 25px; */
}

/* table {
  max-width: 900px;
  border-collapse: collapse;
  color: #000000;
  margin: auto;
}

th {
  background-color: #ffffff;
  color: #003366;
  font-size: 1.2rem;
} */

th {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-top: 15px;
  padding: 5px;
  vertical-align: top;
  font-size: 0.9rem;
  color: #003366;
}

td,
th:nth-child(2) {
  width: 220px;
  text-align: right;
}

td,
th:nth-child(3) {
  width: 220px;
  text-align: right;
}

td,
th:nth-child(4) {
  width: 220px;
  text-align: right;
}

td,
th:nth-child(5) {
  width: 220px;
  text-align: right;
}

tbody {
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(8) {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

th:first-child {
  text-align: left;
}

td:first-child {
  text-align: left;
  width: 150px;
}

td {
  color: #444;
  text-align: right;
  padding: 2px;
  font-size: 0.9rem;
}

@media screen and (max-width: 1400px) {
  #ltla_restrictions_map {
    height: 550px;
  }
}

@media screen and (max-width: 1400px) {
  #ltla_primary_schools_map {
    height: 550px;
  }
}

@media screen and (max-width: 1400px) {
  #msoa_map_place {
    height: 400px;
  }
}

@media screen and (max-width: 1400px) {
  #msoa_map_vaccine {
    height: 500px;
  }
}

@media screen and (max-width: 1400px) {
  #rate_map_1 {
    height: 550px;
  }
}

@media screen and (max-width: 1400px) {
  #rate_map_2 {
    height: 550px;
  }
}

@media screen and (max-width: 1400px) {
  #map_vaccine_sites {
    height: 550px;
  }
}

@media screen and (max-width: 1400px) {
  #msoa_map_vaccine_deprivation {
    height: 550px;
  }
}

.c3_all_lines {
  fill: none;
  /* stroke: #d2d2d2; */
}

.summary {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e3edf9;
  border: 1px solid #3e75be;
  border-radius: 5px;
  font-size: 0.9rem;
  max-width: 1000px;
  margin: auto;
}

.list_summary {
  padding-right: 15px;
  font-size: 1rem;
}

.highlighter_tab {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

header {
  position: sticky;
  top: 0px;
  /* max-height: 8vh; */
  /* width: 100%; */
  background: #fff;
  z-index: 999;
}

.head_title {
  font-weight: bold;
  font-size: 1rem;
  margin-left: 25px;
  margin-top: 5px;
}

.main {
  margin: 20px;
  /* float: left; */
  display: inline-block;
}

.content_top {
  padding-bottom: 15vh;
  margin-left: 25px;
  margin-right: 25px;
  background: #327c9c;
  color: #ffffff;
  padding: 5px;
}

.drop {
  float: right;
}

.content {
  float: none;
  width: calc(75% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}

.home_class {
  float: none;
  margin: 25px;
  display: inline-block;
}

.home_class p {
  font-size: 1rem;
}

.content p {
  font-size: 1rem;
}

.tooltip_class p {
  font-size: 0.8rem;
}

p {
  font-size: 0.8rem;
}

.right-sidebar {
  float: right;
  width: calc(25% - 40px);
  color: #444;
  margin-left: 20px;
  margin-right: 20px;
  top: 0;
  /* display: inline-block; */
}

p.warn {
  font-size: 0.8rem;
  font-weight: bold;
  color: #256cb2;
}

a {
  color: #cc0052;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #327c9c;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #4f6177;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.side p {
  font-size: 0.8rem;
}

.side_important p {
  text-align: justify;
  color: red;
  text-justify: inter-word;
  font-size: 0.8rem;
}

.highlight_dl p {
  font-size: 1rem;
  color: #273f8a;
}

p.highlight_dl_link {
  color: #273f8a;
}

a.highlight_dl {
  font-size: 1.3rem;
  color: #ff004d;
  text-decoration: underline;
}

.footer {
  font-size: 0.8rem;
  float: right;
}

.key_list {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 0.8;
  position: relative;
  z-index: 1;
}

.local_summary_tile {
  /* background-color: #f0e5dc; */
  padding: 10px;
}

.case_latest {
  font-size: 2rem;
  color: #327c9c;
}

.cases_go_down {
  font-size: 2rem;
  color: green;
}

.cases_go_up {
  font-size: 2rem;
  color: #cc0052;
}

.key_list_msoa_cases {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 0.7;
  position: relative;
  z-index: 1;
}

.key_list_vaccine_all {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 0.7;
  position: relative;
  z-index: 1;
}

.key_list_vaccine_ages_currently_eligible {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 0.7;
  position: relative;
  z-index: 1;
}

.key_growth_utla {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  /* opacity: .8; */
  position: relative;
  z-index: 1;
}

.key_growth_ltla {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  position: relative;
  z-index: 1;
}

.key_age_areas {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  position: relative;
  z-index: 1;
}

p.key_list .side_tt {
  font-size: 0.8rem !important;
}

.key_list_rate_utla {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.key_list_rate_ltla {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.key_list_restrictions {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.key_list_imd_all {
  display: block;
  padding: 5px;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: 0.8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: 1;
  position: relative;
  z-index: 1;
}

.tooltip_class {
  max-width: 25vw;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 0.8rem;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: left !important;
}

@media screen and (max-width: 1000px) {
  .tooltip_class {
    max-width: 35vw;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #000;
    text-align: left !important;
  }
}

.tooltip_outside_box {
  /* max-width: 65vw; */
  padding-left: 5px;
  padding-right: 5px;
  margin: auto;
  background: #ffffff;
  color: #000000;
  text-align: left !important;
}

.tooltip_outside_box p {
  font-size: 0.8rem;
}

.tooltip_outside_box b {
  font-size: 0.9rem;
}

.stay-right-classy {
  float: right;
}

.stay-left-classy_1 {
  float: left;
  display: block;
  position: relative;
  padding-left: 5px;
}

.stay-right-classy_1 {
  float: right;
  display: block;
  position: relative;
  padding-left: 5px;
}

.stay-left-classy {
  float: left;
}

.ticked_off.tick:nth-child(2n) text {
  visibility: hidden;
}

.give_me_space {
  margin-left: 5px;
}

#slider_play_button {
  position: relative;
  background: #dbdbdb;
  padding-right: 100px;
  border-radius: 3px;
  border: none;
  color: black;
  margin: 0;
  padding: 0 12px;
  height: 30px;
}

#slider_play_button:hover {
  background-color: #696969;
  color: white;
}

#utla_growth_slider_id {
  position: relative;
  margin-right: 15px;
}

.svg_notation {
  font-size: 0.8rem;
}

section {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Percentage fill donut */

.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold;
}

.percentage_guage .background {
  fill: #e6e7e8;
}

.percent-vaccine {
  font-size: 2.8rem;
  fill: #327c9c;
  letter-spacing: -0.03em;
}

.description {
  font-size: 0.8rem;
  fill: #4f6177;
}

.description_none {
  font-size: 0.9;
  /* font-weight: bold; */
  fill: #d80727;
}

/* searchable table */
#FilterableTable {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40px;
  left: 20px;
}

.give_me_space_to_search {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.SearchBar {
  display: inline;
  position: relative;
  left: 1%;
  font-weight: bold;
}

.SearchBar input {
  position: relative;
  left: 2%;
  font-weight: normal;
}

.SearchBar1 {
  display: inline;
  position: relative;
  left: 1%;
}

.SearchBar1 input {
  position: relative;
  left: 2%;
  font-weight: normal;
}

.wk_wk_table th:first-child {
  text-align: left;
  width: 140px;
}

.wk_wk_table td:nth-child(2) {
  text-align: left;
}

.wk_wk_table th:nth-child(2) {
  text-align: left;
}

.wk_wk_table table {
  margin-bottom: 25px;
}

.wk_wk_table tr:nth-child(even) {
  background-color: #dddddd;
}

.wk_wk_table th:nth-child(6) {
  background-color: #fbe5d6;
  text-align: right;
}

.wk_wk_table tr:nth-child(odd) > td:nth-child(6) {
  background: #fff;
}
.wk_wk_table tr:nth-child(even) > td:nth-child(6) {
  background: #fbe5d6;
}

.wk_wk_table th:nth-child(7) {
  background-color: #fbe5d6;
  text-align: right;
}

.wk_wk_table tr:nth-child(odd) > td:nth-child(7) {
  background: #fff;
}
.wk_wk_table tr:nth-child(even) > td:nth-child(7) {
  background: #fbe5d6;
}

.wk_wk_table th:nth-child(8) {
  background-color: #fbe5d6;
  text-align: right;
}

.wk_wk_table tr:nth-child(odd) > td:nth-child(8) {
  background: #fff;
}
.wk_wk_table tr:nth-child(even) > td:nth-child(8) {
  background: #fbe5d6;
}

.wk_wk_table td:nth-child(6) {
  background-color: #fbe5d6;
}

.wk_wk_table tr:nth-child(8) {
  border-top: 0px;
  border-bottom: 0px;
}

.wk_wk_table td:first-child {
  text-align: left;
  width: 110px;
}

.msoa_table th :first-child {
  text-align: right;
}

.msoa_table th {
  text-align: right;
}

.msoa_table table {
  margin-bottom: 25px;
}

.msoa_table tbody {
  border-bottom: 1px solid #333;
}

.msoa_table tr:nth-child(even) {
  background-color: #dddddd;
}

.msoa_table tr:nth-child(8) {
  border-top: 0px;
  border-bottom: 0px;
}

th:first-child {
  text-align: left;
}

td:first-child {
  text-align: left;
  width: 150px;
}

td {
  color: #444;
  text-align: right;
  padding: 2px;
  font-size: 0.9rem;
}

/* Arrows */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.good_to_know {
  border: 2px solid #cc0052;
  border-radius: 5px;
  padding: 10px;
  padding-top: 5px;
}